
* {
    font-family: "IRANSans", "Times New Roman";
}

.authBody {
    background-color: #adb5bd;
}

.homeHeader {
    /* background-color: #010f48;*/
    background-color: #212529;
}

.homeBody {
    /* //background-color: #6b7280;*/
    background-color: #adb5bd;
}

body {
    overflow-x: hidden !important;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.dropdown-toggle::after {
    vertical-align: 0px;
!important;
}

.nav-link {
    color: white;
!important;
}

.carousel-inner > .carousel-item > img {
    width: 650px;
    height: 360px;
}

.like {
    color: red;
}

.background_for_login {

   background-repeat: no-repeat;
    background-size: cover;
   background-position: center;

}
